.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: white;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: black;
}
.button_box{
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.random-array-table {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 18px;
  color: black;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  width: 50%;

}
